* {
    box-sizing: border-box;
}

header {
    background-color: aqua;
    width: 1366px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-bottom: 2px solid black;
    margin-top: -5px;
    margin-left: -5px;
}

.header-left {
    float: left;
}

img {
    width: 60px;
    height:60px;
    margin-left: 5px;
    margin-top: 5px;
}

.header-right {
    background-color: aqua;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.5s background-color ease-out
}

main {
    background-color: blueviolet;
    width: 1366px;
    height: 600px;
    margin-top: -20px;
    margin-left: -5px;
}

.main-container {
    margin-left: 25px;
    position: relative;
}

.main-container p {
    margin-top: -10px;
}
.form-and-tabel-container {
    display: flex;
    flex-direction: row;
    margin-top: 55px;
}

.form-wrapper {
    margin-left: 15px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
}

.tabel-wrapper {
    width: auto;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: cyan;
    width: 1377px;
    height: 70px;
    margin-left: -15px;
}

footer p {
    margin-right: 25px;
    margin-top: 40px;
}