* {
    box-sizing: border-box;
}

header {
    background-color: aqua;
    width: 1366px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-bottom: 2px solid black;
    margin-top: -5px;
    margin-left: -5px;
}

.header-left {
    float: left;
}

img {
    width: 60px;
    height:60px;
    margin-left: 5px;
    margin-top: 5px;
}

.header-right {
    display: flex;
    margin-right: 10px;
}

.header-right button {
    background-color: white;
    border: 1px solid grey;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.5s background-color ease-out;
}

a {
    text-decoration: none;
}

main {
    background-color: rgb(185, 130, 236);
    width: 1366px;
    height: 600px;
    margin-top: -20px;
    margin-left: -5px;
}

.main-container {
    margin-top: 20px;
    padding-top: 10px;
    margin-left: 25px;
    position: relative;
}

.main-container p {
    margin-top: -10px;
}
.form-and-tabel-container {
    display: flex;
    flex-direction: row;
    margin-top: 55px;
}

.form-wrapper {
    margin-left: 15px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
}

.tabel-wrapper {
    width: auto;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: cyan;
    width: 1377px;
    height: 70px;
    margin-left: -15px;
}

.message-form {
    margin-left: 25px;
}


#isian {
    margin-right: 55px;
}

input[type=text] {
    padding-left: 20px;
    padding-right: 116px;
}

input[type="date"] {
    margin-left: -50px;
    padding-left: 20px;
    padding-right: 148px;
    align-content: left;
}

input[type=radio] {
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 100px;
}

textarea {
    margin-top: 20px;
    width: 278px;
    height: 52px;

}

button[type=submit] {
    margin-top: 20px;
    margin-right: 30px;
    padding-left: 180px;
    padding-right: 180px;
    text-align: center;
}

footer p {
    margin-right: 25px;
    margin-top: 40px;
}

.tabel-container td {
    padding: 5px 5px;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    header {
        width: 100%;
        height: 210px;
        display: flex;
        flex-direction: column;
    }

    img {
        width: 30px;
        height:30px;
        margin-bottom: 5px;
    }

    .header-right {
        width: 100%;
        flex-direction: column;
        margin-bottom: 40px;
        margin-left: 8px;
    }

    main {
        width: 100%;
        height: 800px;
        padding-top: 100px;
        padding-left: 0px;
    }

    .main-container {
        margin-left: 25px;
        position: relative;

    }

    .form-and-tabel-container {
        display: flex;
        flex-direction: column;
        margin-top: 55px;
    }

    .form-wrapper {
        margin-left: 15px;
        margin-right: 50px;
        margin-bottom: 30px;

    }

    textarea {
        width: 281px;
        height: 37px;
    }
        
    .tabel-wrapper {
        width: auto;
    }

    footer {
        width: auto;
    }
}